/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

composer.lock
/yamls/main_local.yaml
/yamls/swagger_local.yaml
public/local/

/nbproject
/.idea
/.scannerwork
.scannerwork
public/remote
public/swagger_local

public/upload/temp
public/upload/banner
public/upload/store
public/upload/image_sign
public/upload/transfer
public/share/*.html
public/upload/admin

public/upload/avatar
public/upload/download
public/upload/image
public/upload/activity
public/uploads

public/upload/notice

